<div class="jumbotron jumbotron-fluid">
</div>
<div class="container">
<div class="row">
<div class="col-7">
  <b><h1>About Me</h1></b>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus asperiores minima exercitationem officiis praesentium, laudantium excepturi fugit, placeat est reprehenderit ut at nulla modi ipsam enim molestiae illum maiores earum.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, consequatur qui sit saepe error quas, consequuntur quos harum minus inventore deserunt recusandae, soluta eos eius doloribus quibusdam. Tenetur, in perferendis.</h3>
</div>
<div class="col-5"><img src="/assets/photographer-1867417_1280.jpg" width="550px" ></div>
</div>

</div>