.bg-dark {
    background-color: transparent !important;
    color: black;

}

.navbar-custom {
    font-size: 1.8vw;
    font-weight: bolder;
    color: black;
}

.navbar-brand {
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
}

.nav-item {
    color: black !important;
}

.nav-link {
    color: black !important;
}
*{
    font-family: 'Poiret One', cursive;

}
