<br>
<br>
<br>
<br>
<br>
<div class="container d-flex flex-column mt-5">
    <form>
        <div class="row">
            <div class="col-6">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-6">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" placeholder="E-mail">
            </div>
        </div>
        <br>
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control col-12" id="exampleFormControlTextarea1" rows="3"></textarea>
    </form>
    <br>
    <button class="btn btn-block btn-outline-dark" mat-raised-button matStepperNext (click)="alert()">Submit</button>


        <div class="row mt-5">
            <div class="col-md-6 col-sm-8 d-flex d-block"> <p>CodeFactory GmbH <br> Kettenbrückengasse 23/2/12, <br> 1050 Vienna</p> </div>
            <div class="col-md-6 col-sm-8"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5319.136396456266!2d16.35842894687341!3d48.19567061985322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe543f0731e2b5529!2sCodeFactory!5e0!3m2!1sen!2sat!4v1593686124037!5m2!1sen!2sat" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> </div>
        </div>
</div>
<br>
<br>

