.container{
    margin-top: 3em
  }
  ​
  h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
  }
  ​
  .underline{
    text-align: center
  }
  .carousel-indicators li {
    background-color: darkgray
  }
  #carouselExampleIndicators{
    margin: auto;
    margin-top: 3em;
    width: 40%
  }
  ​
  ​
  .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a9a9a9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
  }
  ​
  ​
  .carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a9a9a9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
  ​
  }
  ​
  ​
  .carousel-item{
    width: 100%;
    background-color: #f8f8f8
  }
  ​
  .img{
    width: 100%;
    height: 10em;
    margin: auto;
    align-items: center;
    padding-left: 30%;
    padding-top: 1em
  ​
  }
  ​
  .img img{
    object-fit: cover;
    height: 10em
  }
  ​
  .text{
    padding: 2em;
    text-align: justify;
  }
  ​
  h5{
    text-align: center;
    font-family: 'Big Shoulders Display',cursive
  }
  ​
  ​
  ​
  .subtitle{
    font-style: italic;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive
  }